<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://use.fontawesome.com/eb10996e9d.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    
	<link rel="shortcut icon" href = "logos.png"><title>Nexagile</title>
</head>
<body ng-controller="MyController">
<nav class="navbar navbar-default logo">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nexagile</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>  Home <span class="sr-only">(current)</span></a></li>
        <li><a href="http://nexagile.com/about-us/"><i class="fa fa-info-circle" aria-hidden="true"></i>  About Us</a></li>
        <li><a href="http://nexagile.com/services/">Services</a></li>
        <li><a href="http://nexagile.com/careers/">Carrers</a></li>
        <li><a href="http://nexagile.com/contact-us/"><i class="fa fa-phone" aria-hidden="true"></i>  Contact Us</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i>  Sign In</a></li>
        <li><a href ng-click="signUp()" ><i class="fa fa-user-plus" aria-hidden="true"></i>   Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container nexa"  ng-show="myShow">
<h1><i class="fa fa-handshake-o" aria-hidden="true"></i> Connect With Us </h1><hr />
<form >
  <div class="form-group">

    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" ng-model="app.firstname" placeholder="Enterfirstname" required>

    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" aria-describedby="emailHelp" ng-model="app.lastname" placeholder="Enter lastname" required>

    <label for="email">Email Id</label>
    <input type="email" class="form-control" id="emailid" aria-describedby="emailHelp" ng-model="app.emailid" placeholder="Enter email" required>

    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" aria-describedby="emailHelp" ng-model="app.address" placeholder="Enter address" required>
     <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phoneno" aria-describedby="emailHelp" ng-model="app.phoneno" placeholder="Enter phoneno" required>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" aria-describedby="emailHelp" ng-model="app.password" placeholder="Enter password" required>
    <!-- <input type="file" name="file" ng-model="app.image"> -->
  </div>
  <button class="btn btn-info button" ng-click="register()">Sign Up</button>
 </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript">
var myApp = angular.module('myApp',[]);
  myApp.controller('MyController',['$scope','$http','$window',function($scope,$http,$window){
     $scope.myShow = false;
    $scope.signUp = function(){
      $scope.myShow = true;
    }
    $scope.register = function(){
        console.log($scope.app.firstname);
        $http.post('http://192.168.0.4:8888/useraccount/register/doregister',$scope.app).success(function(msg){
            console.log(msg.msg);
            if(msg.msg=="Successfully Registered"){
                 $window.location=('home.html?val='+$scope.app.firstname);
//                    var str =
// '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mak="http://xmlns.oracle.com/SoaDemo/'+
// 'sayHello/makeGreeting">'+
//    '<soapenv:Header/>'+
//    '<soapenv:Body>'+
//       '<mak:process>'+
//          '<mak:input>'+$scope.app.firstname+'    '+
//          '</mak:input>'+ 
//       '</mak:process>'+
//    '</soapenv:Body>'+
// '</soapenv:Envelope>';

// function createCORSRequest(method, url) {
//   var xhr = new XMLHttpRequest();
//   if ("withCredentials" in xhr) {
//     xhr.open(method, url, true);
//   } else if (typeof XDomainRequest != "undefined") {
//     xhr = new XDomainRequest();
//     xhr.open(method, url);
//   } else {
//     xhr = null;
//   }
//   return xhr;
// }
// var xhr = createCORSRequest('POST', "http://192.168.0.17:7003/soa-infra/services/default/sayHello/makegreeting_client_ep?WSDL");
// if (!xhr) {
//   throw new Error('CORS not supported');
// }
// xhr.onload = function(){
//   var results = xhr.responseText;
//   console.log(results);
//    var x2js = new X2JS();
//     var aftCnv = x2js.xml_str2json(results);
//          console.log(aftCnv.Envelope.Body.processResponse.result);
//          var disp = aftCnv.Envelope.Body.processResponse.result; 
//          alert(disp);
// }
// xhr.setRequestHeader('Content-Type', 'text/xml');
// xhr.send(str);

//                  });
function testJS() {
    var b =$scope.app.firstname,
        url = 'file:///D:/Angular/home.html?firstname=' + encodeURIComponent(b);

    document.location.href = url;
}

     
            }else{
 


              alert(msg.msg);
            }
        });
    };
  }]);




    

    
</script>
</body>
</html>
